:root {
  --absent: ##3a3a3c;
  --present: ##b59f3b;
  --correct: ##538d4e;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121213;
  color: #d7dadc;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}

/***************
    Layout 
***************/

.container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3a3a3c;
  padding: 0 0.25em;
  height: 55px;
}

.game-title {
  color: #d7dadc;
  margin: 0;
  font-size: 2rem;
}

@media (max-width: 350px) {
  .game-title {
    font-size: 1.25rem;
  }
}

.header-btn {
  color: #565758;
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  margin: 0;
  cursor: pointer;
  transition: 50ms transform ease-in-out;
}

.header-btn:hover,
.header-btn:focus {
  color: #818384;
  transform: scale(1.1);
}

/* Game Board */

.game-board {
  margin: auto auto;
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 420px;
}

.game-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.game-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3a3a3c;
  margin: 0.25rem;
  color: #d7dadc;
  font-weight: 600;
  font-size: 2rem;
  aspect-ratio: 1/1;
}

.flip-in {
  animation-name: flip-in;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-delay: calc(var(--order) * 250ms);
}

@keyframes flip-in {
  from {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(-90deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

.new-letter {
  animation-name: new-letter;
  animation-duration: 100ms;
  animation-timing-function: ease;
}

@keyframes new-letter {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  40% {
    transform: scale(1.1);
    opacity: 1;
  }

  to {
    transform: none;
  }
}

/* Keyboard */

.keyboard {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

.keyboard-row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  gap: 0.5em;
  flex: 1;
}

.keyboard-btn {
  color: #d7dadc;
  background-color: #818384;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 50ms background-color ease-in-out;
  flex: 0 1 43px;
  font-size: 1rem;
}

/* .keyboard-btn:hover {
  transform: scale(1.1);
} */

.keyboard-btn-wide {
  flex: 1 2 43px;
}

/***************
    Overlay 
***************/

.overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #121213;
  display: none;
}

.slide-in {
  display: block;
  opacity: 1;
  animation-timing-function: linear;
  animation-name: slide-in;
  animation-duration: 100ms;
}

.slide-out {
  opacity: 1;
  animation-timing-function: linear;
  animation-name: slide-in;
  animation-duration: 100ms;
  animation-direction: reverse;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(30px);
    height: calc(100% - 30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    height: 100%;
  }
}

.overlay-container {
  max-width: 500px;
  padding-left: 0.5em;
  margin: 0 auto;
}

.overlay-header {
  display: flex;
  justify-content: space-between;
}

.examples {
  border-top: 1px solid #3a3a3c;
  border-bottom: 1px solid #3a3a3c;
}

.example {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  justify-content: start;
}

.example-tile {
  border: 2px solid #3a3a3c;
  text-align: center;
  margin-right: 0.1em;
  flex: 0 0 38px;
}

.game-over {
  display: none;
  position: absolute;
  left: calc(50% - 75px);
  top: 10%;
  background-color: #d7dadc;
  color: #121213;
  font-weight: 700;
  text-align: center;
  width: 150px;
  border-radius: 10px;
}

.play-again-btn {
  margin-bottom: 1em;
  background-color: #121213;
  color: #d7dadc;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1.25em;
  font-size: 1rem;
  cursor: pointer;
}

.popup {
  display: block;
  opacity: 1;
  animation-timing-function: linear;
  animation-name: popup;
  animation-duration: 200ms;
}

@keyframes popup {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/***************
    Modifiers 
***************/

.absent {
  background-color: #3a3a3c;
}

.present {
  background-color: #b59f3b;
  border: 2px solid #b59f3b;
}

.correct {
  background-color: #538d4e;
  border: 2px solid #538d4e;
}

.shake {
  animation-name: shake;
  animation-timing-function: ease;
  animation-duration: 600ms;
}

@keyframes shake {
  from {
    transform: none;
  }

  10% {
    transform: translateX(-1px);
  }

  20% {
    transform: translateX(2px);
  }

  30% {
    transform: translateX(-4px);
  }

  40% {
    transform: translateX(4px);
  }

  50% {
    transform: translateX(-4px);
  }

  60% {
    transform: translateX(4px);
  }

  70% {
    transform: translateX(-4px);
  }

  80% {
    transform: translateX(2px);
  }

  90% {
    transform: translateX(-1px);
  }

  to {
    transform: none;
  }
}
